.User {
  border: solid 1px black;
  width: 100%;
  height: 30px;
  padding: 5px;
}
.User.extendido {
  border: solid 1px black;
  width: 100%;
  height: 60px;
  padding: 5px;
}

.Foto {
  float: left;
  height: 25px;
  margin-right: 20px;
}
.Foto.extendido {
  float: left;
  height: 55px;
  margin-right: 20px;
}
.User div {
  margin: 5px;
}
.botones {
  float:right;
  display: block;
}
.boton {
  margin-right: 20px;
  border: solid 1px black;
  font-size: 0.5em;
  padding: 5px;
  cursor: pointer;
}
